@import "../../../../variables.scss";

.fare-info {
    margin-bottom: 20px;

    &--header, &--footer {
        padding: 15px;
        background-color: $color-secondary;
        color: $color-white;
    }

    &--header {
        text-transform: uppercase;
        font-weight: bold;
    }

    &--body {
        padding: 15px;
        background-color: $bg-grey;
        color: $color-black;

        &__no-pd {
          padding: 0;
        }
    }

    &--row {
      display: flex;
      flex-wrap: wrap;
    }

    &--col1, &--col2 {
      flex: 0 0 100%;
    }

    &--col1 {
      @media ($screen-smalltablet) {
        flex: 0 0 65.26%;
        margin-right: 2.8%;
      }
    }

    &--col2 {
      @media ($screen-smalltablet) {
        text-align: right;
        flex: 0 0 31.93%;
      }
    }

    &--title {
      color: lighten($color-black, 30%);
      font-size: 13px;
      padding: 15px 0 5px 0;
      margin-top: 5px;
      border-top: solid 1px $color-white;
    }

    &--item, &--notes, &--link {
      margin-bottom: 15px;
    }

    &--notes, &--link {
      font-size: 14px;
      line-height: 20px;
    }

    &--link {
      color: $color-primary;
      display: inline-block;
      font-weight: normal;
      text-decoration: none;

      &:hover, &:active, &:focus {
        color: darken($color-primary, 10%);
        text-decoration: underline;
      }
    }

    &--label {
      display: block;
      color: lighten($color-black, 30%);
      font-size: 13px;
      margin-bottom: 2px;
    }

    &--price-list {
      margin: 0 -15px;
      font-size: 14px;
      line-height: 16px;
    }

    &--price-item {
      padding: 5px 15px;

      .price {
        font-size: 16px;
        font-weight: normal;

        &-prefix, &-pence {
          font-size: 14px;
        }
      }
    }
}