@import "../../styles/vars";
.graph {
  background: $color-white;
  padding: 20px 0;
}
.recharts-wrapper {
  margin: 0 auto;
}
.recharts-cartesian-axis-tick-value {
  &:before {
    content: '250';
    color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
  }
}
.recharts-cartesian-axis-tick {
  font-size: 12px;
  fill: #000;
}