language: node_js
node_js:
- 9
cache:
  directories:
  - node_modules # NPM packages
install:
  - npm install
  - pip install --user awscli
script: npm run build
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: www.traintickets.to
  local-dir: build/
  skip_cleanup: true
  region: eu-west-1
  on:
    branch: master
after_deploy:
  - aws configure set preview.cloudfront true
  - test $TRAVIS_BRANCH = "master" && aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"