@import "../../variables.scss";

.error {
  background: transparent url($error) no-repeat center top;
  background-size: 60px 60px;
  padding-top: 80px;

  &--title {
    text-align: center;
    color: $color-error;
  }
}