@import "../../../variables.scss";

.react-autosuggest {
  &__container {
    position: relative;
  }

  &__input {
    width: 100%;
    border: none;
    line-height: 30px;
    padding: 5px;
  }

  &__suggestions-container {
    position: absolute;
    background-color: $color-white;
    width: 100%;
    z-index: 20;
    max-height: 200px;
    overflow: auto;
  }

  &__suggestion {
    padding: 10px;

    &--highlighted {
        background-color: $color-primary;
        color: $color-white;
    }
  }
}