$font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$bg-body: #f6f6f6;
$bg-grey: #ebebeb;

$color-white: #fff;
$color-black: #000;
$color-primary: #1561d4;
$color-darkblue: #034494;
$color-secondary: #fa9116;
$color-duration: #6d6d6d;
$color-label: #6e6e6e;

$bold: bold;