.customIcon {
  display: inline-block;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 16px;
  height: 16px;

  &.large {
    width: 55px;
    height: 55px;
  }
}
