@import "../../variables.scss";

.nav {
    float: right;

    &--item {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &--link {
        color: $color-white;
        transition: all 0.2s linear;
        text-decoration: none;
        font-size: 16px;
        line-height: 14px;
        padding: 5px 10px;

        &:hover {
            color: $color-secondary;
            border-bottom: solid 2px $color-secondary;
        }
    }
}