@import "../../variables.scss";

.fares {
    margin-bottom: 100px;

    &-results {
        padding-top: 80px;
        font-size: 34px;
        opacity: 0.3;
        background: transparent url($up) no-repeat center top 30px;
    }
}

.fare-list {
  &--item {
    padding: 20px;
    margin-bottom: 5px;
    background-color: $color-white;

    &.is-selected {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--time {
    font-weight: bold;
    font-size: 18px;
  }

  &--duration {
    margin-top: 10px;
    display: block;
  }

  &--station {
    font-size: 16px;
  }
}
