@import "../../variables.scss";

.fares {
    margin-bottom: 100px;
    margin-top: 30px;

    &--direction {
      padding: 15px;
      background-color: darken($color-primary, 20%);
      color: $color-white;
      margin-bottom: 4px;
    }

    &--empty-title {
      padding-top: 80px;
      opacity: 0.3;
      background: transparent url($up) no-repeat center top 30px;
      font-size: 34px;
    }

    &--empty-return {
      background-color: $color-white;

      .fares--empty-title {
        background: none;
        padding: 50px 0;

        @media ($screen-tablet) {
          padding: 150px 0;
        }
      }
    }
}

.fare-list {
  margin-bottom: 30px;

  @media ($screen-smalltablet) {
    height: 50vh;
    overflow: auto;
  }

  &--item {
    padding: 15px;
    margin-bottom: 5px;
    background-color: $color-white;
    cursor: pointer;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: rgba($color-primary, 0.1);
    }

    &.is-selected {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--time {
    font-weight: bold;
    font-size: 18px;
  }

  &--duration {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
  }

  &--station {
    font-size: 16px;
    padding: 0;
    margin-bottom: 5px;
  }
}

.leg-list {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px $color-white;
}

.leg-mode {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}
