@import "../../styles/vars";

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99999;
  .map-info {
    position: relative;
    .block-close {
      right: 15px;
      top: 30px;
      font-size: 28px;
      position: absolute;
      cursor: hand;
      border-radius: 50%;
      i {
        color: #67bcdb;
      }
    }
    .top-block, .bottom-block {
      position: fixed;
      display: block;
      background-color: #67bcdb;
      width: 360px;
      left: 20px;
      box-shadow: 3px 3px 3px 3px rgba(0,0,0,.3);
      z-index: 999;
    }
    .top-block {
      height: 180px;
      top: 20px;
      padding: 15px;
      .block-element {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-bottom: 5px;
        width: 100%;
        border-bottom: 2px solid #92d3ec;
        &:last-child {
          margin-bottom: 0;
        }
        h3, span, p {
          color: #fff;
        }
        .pound, .pence {
          font-size: 12px;
        }
      }
    }
    .bottom-block {
      height: 100%;
      overflow: hidden;
      transition: height .5s ease-in;
      max-height: calc(100% - 40px);
      top: 20px;
      z-index: 99;
      background-color: #fff;
      .leg-list {
        height: auto;
      }
      .leg-element {
        h3 {
          text-align: left;
          position: relative;
          padding: 10px 15px;
          background: #67bcdb;
          color: #fff;
          .ff-mode {
            right: 45px !important;
            top: 8px !important;
            button {
              padding: 0 !important;
              width: 20px !important;
              height: 20px !important;
              i {
                color: #fff;
              }
            }
          }
          .fa {
            position: absolute;
            cursor: pointer;
            right: 15px;
            top: 5px;
            font-size: 24px;
            color: #fff;
          }
        }
        .point-element {
          padding: 15px 15px 0;
          text-align: left;
          &:last-child {
            padding-bottom: 15px;
          }
          .point-time {
            color: #67bcdb;
            font-size: 11px;
            padding-right: 15px;
          }
          .point-station {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.scrollarea {
  height: 100%;
  .scrollbar-container {
    &:hover {
      background: #607D8B;
    }
    &:focus {
      background: #607D8B;
    }
    .vertical {
      .scrollbar {
        background: #000000;
        border-radius: 15px;
      }
    }
  }
}