@import "../../styles/vars";
.tap, .ff {
  position: fixed;
  cursor: pointer;
  transition: .3s;
  opacity: 0;
  border-radius: 50%;
  bottom: -190px;
  right: -190px;
  padding: 90px 75px 20px;
  background-color: #fb9212;
  z-index: 55;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.55), 0 10px 50px 0 rgba(0,0,0,0.55), 0 30px 10px -20px rgba(0,0,0,0.2);
  animation: load-tap .5s cubic-bezier(.51,.92,.24,1.15) forwards;
  &:hover {
    transition: .3s;
    box-shadow: 0 20px 20px 0 rgba(251,146,18,0.75), 0 10px 50px 0 rgba(251,146,18,0.75), 0 30px 10px -20px rgba(251,146,18,0.5);
  }
  &-head {
    color: #034496;
    font-size: 32px;
    text-transform: uppercase;
  }
  &-price {
    font-size: 32px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    color: $color-white;
    .pence, .pound {
      font-size: 20px;
    }
  }
  &-footer {
    color: $color-white;
    font-size: 18px;
  }
  &-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-list {
    width: 70%;
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    .rout-element {
      flex-grow: 1;
    }
    .ff-element {
      text-align: center;
      padding: 10px 15px 0;
      border-left: 1px solid #000;
      height: 780px;
      overflow: hidden;
      &:first-child {
        border-left: none;
      }
      h2 {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
        padding: 10px 30px;
        border-bottom: 1px solid #000;
        margin: 0 -15px 0;
      }
      p {
        padding-top: 15px;
        font-size: 0.8em;
      }
      .leg-list {
        height: calc(100% - 37px);
        margin: 0 -15px;
        overflow-y: auto;
        padding: 0 0 20px 0;
        .leg-element {
          h3 {
            text-align: left;
            position: relative;
            padding: 10px 15px;
            background: #03A9F4;
            color: #fff;
            .fa {
              position: absolute;
              cursor: pointer;
              right: 8px;
              top: 5px;
              font-size: 24px;
              color: #fff;
            }
          }
          &:last-child {
            padding-bottom: 15px;
          }
          .point-element {
            padding: 15px 15px 0;
            text-align: left;
            &:last-child {
              padding-bottom: 15px;
            }
            .point-time {
              color: #67bcdb;
              font-size: 11px;
              padding-right: 15px;
            }
            .point-station {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  &-close {
    position: absolute;
    right: -17px;
    top: -16px;
    .fa {
      color: #fb9212;
      font-size: 32px;
    }
  }
  &-mode {
    position: absolute;
    right: 35px;
    top: 6px;
    .material-icons {
      cursor: default;
      font-size: 22px;
    }
  }
}

@keyframes load-tap {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 1;
  }
}