@import "../../../variables.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-input {
  &--container {
    display: inline-block;
  }

  &--btn {
    display: block;
    width: 20px;
    height: 40px;
    background: $color-white url($chevron-down) no-repeat center center;
    background-size: 25px 15px;
    border: none;
    padding: 0;

    @media ($screen-smalltablet) {
      width: 25px;
    }

    &__more {
      background-image: url($chevron-right);
    }

    &__less {
      background-image: url($chevron-left);
    }
  }

  &--passengers {
    width: 20px;
    height: 40px;
    text-align: center;
    padding: 0;

    @media ($screen-smalltablet) {
      width: 20px;
    }
  }
}