@import "../../styles/vars";
.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
.fares {
  position: relative;
  padding-bottom: 60px;
  background: $bg-body;
  .owl-prev {
    position: absolute;
    left: -80px;
    top: 40%;
  }
  .owl-next {
    position: absolute;
    right: -80px;
    top: 40%;
  }
  .owl-stage {
    margin: 5px;
  }
  .fa-caret-left, .fa-caret-right {
    font-size: 64px;
    color: #5a8fd5;
  }
  .owl-nav {
    .disabled {
      cursor: auto;
      .fa-caret-left, .fa-caret-right {
        opacity: 0.4;
      }
    }
  }

  &-out, &-return {
    padding: 30px 0;
  }

  &-title {
    font-size: 20px;
    margin-bottom: 30px;
    color: $color-primary;
  }
}

.fare-container {
  overflow: auto;
  white-space: nowrap;
}

.fare {
  display: inline-block;
  margin: 0 12px 20px 12px;

  &-input {
    width: 140px;
    background-color: $bg-grey;
    padding-top: 10px;
    display: block;
  }

  &-bottom {
    background-color: $color-white;
    padding-bottom: 10px;
  }

  &-station, &-time {
    width: 65px;
  }

  &-station {
    font-size: 12px;
  }

  &-time {
    font-size: 14px;
    color: $color-primary;
    margin-top: 3px;
  }

  &-ticket {
    font-size: 12px;
    line-height: 16px;
    height: 60px;
    padding: 0 10px;
    span {
      cursor: pointer;
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &-price {
    color: $color-primary;
    font-size: 20px;
    padding-top: 12px;
    margin-bottom: 7px;
  }

  .pound {
    font-size: 16px;
  }

  .pence {
    font-size: 18px;
  }
}
.radio {
  display: none;
}
.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #fd9210;
  border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}
.duration {
  font-size: 11px;
  color: $color-duration;
  margin-top: 8px;
  margin-bottom: 10px;

  &:after {
    content: "";
    display: block;
    height: 1px;
    background-color: $color-white;
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;
  }
}
.owl-dots {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  .owl-dot {
    flex-grow: 1;
    height: 8px;
    transition: .7s;
    background: #5a8fd5;
    &:hover {
      background: rgba(90, 143, 213, 0.4)
    }
  }
  .active {
    background: #5a8fd5;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    &:hover {
      background: #5a8fd5;
    }
  }
  .active ~ .owl-dot {
    background: $bg-grey;
    &:hover {
      background: rgba(90, 143, 213, 0.4);
    }
  }
}