@import "../../../../variables.scss";

.order-info {
  text-align: center;
  color: $color-black;
  font-size: 16px;
  line-height: 24px;

  &--title {
    background: transparent url($happy) no-repeat center top;
    background-size: 130px 130px;
    padding-top: 160px;
  }

  &--box {
    color: $color-white;
    font-weight: bold;
    margin: 20px auto;
    width: 270px;

    &-title {
      background-color: $color-primary;
      font-size: 18px;
      line-height: 18px;
      padding: 10px 0;
      text-transform: uppercase;
    }

    &-content {
      background-color: lighten($color-primary, 20%);
      font-size: 38px;
      line-height: 38px;
      padding: 15px 0;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}