@import "../../variables.scss";

.header {
  background-color: $color-primary;
  color: $color-white;
  padding: 13px 10px;
  font-size: 26px;
  position: sticky;
  top: 0;
  z-index: 10;

  @media ($screen-tablet) {
    position: static;
    padding: 16px 25px;
  }

  &--logo {
    font-size: 26px;
    font-weight: 600;
    margin-left: 42px;

    @media ($screen-tablet) {
      margin-top: 0;
      float: left;
      margin: 3px 0 0 0;
      text-align: left;
    }
  }

  &--link {
    color: $color-white;
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover {
      opacity: 0.8;
      color: $color-white;
    }
  }
}