@import "../../variables.scss";

.header {
  background-color: $color-primary;
  color: $color-white;
  padding: 16px 10px;
  font-size: 26px;
  position: sticky;
  top: 0;
  z-index: 10;

  @media ($screen-smalltablet) {
    position: static;
    padding: 16px 25px;
  }

  &--logo {
    font-size: 26px;
    font-weight: 600;

    @media ($screen-smalltablet) {
        float: left;
    }
  }

  &--strapline {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;

    @media ($screen-smalltablet) {
        float: right;
        font-size: 26px;
        margin-top: 0;
    }
  }
}