@import '~static/styles/color-palette.scss';

.journeyForm {
  display: block;
  background-color: $blue;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.locationInputs {
  margin: 0;
  padding: 0;
}

.locationIcon {
  float: left;
  margin: 12px 0 0 10px;
  width: 40px;
  height: 80px;
  display: block;
}

.origin {
  width: 300px;
  margin: 0px 0 0 40px;
  padding: 15px 10px 12px 10px;
}

.destination {
  width: 300px;
  padding: 10px;
  margin-left: 40px;
}

.submitAndDate {
  width: 340px;
  padding: 10px;
  text-align: right;
}

.date {
  width: 165px;
  height: 26px;
  margin: 0 10px 0 0;
  display: inline-block;
}

.submit {
  background-color: $green;
  color: $white;

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
