@import '~static/styles/color-palette.scss';

.journeyForm {
  display: block;
  background-color: $blue;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.origin {
  width: 290px;
  float: left;
  padding: 10px 10px 10px 10px;

  div {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
  }
}

.rightIcon {
  float: right;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 8px 5px 0 0;
}

.destination {
  width: 240px;
  float: left;
  padding: 10px;
}

.goButton {
  width: 45px;
  float: left;
  padding: 10px;

  button {
    background-color: $green;
    color: $white;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}
