@import "../../variables.scss";

.fares {
  padding-bottom: 60px;

  &-out, &-return {
    padding: 30px 0;
  }

  &-title {
    font-size: 20px;
    margin-bottom: 30px;
    color: $color-primary;
  }
}

.fare {
  margin-right: 20px;

  &-input {
    width: 140px;
    background-color: $bg-grey;
    box-shadow: 1px 2px 2px 0px fade($color-black, 25%);
    padding-top: 10px;
    display: block;
  }

  &-bottom {
    background-color: $color-white;
    padding-bottom: 10px;
  }

  &-station, &-time {
    width: 65px;
  }

  &-station {
    font-size: 12px;
  }

  &-time {
    font-size: 14px;
    color: $color-primary;
    margin-top: 3px;
  }

  &-ticket {
    font-size: 12px;
    line-height: 16px;
    height: 60px;
    padding: 0 10px;
  }

  &-price {
    color: $color-primary;
    font-size: 20px;
    padding-top: 12px;
    margin-bottom: 7px;
  }

  .pound {
    font-size: 16px;
  }

  .pence {
    font-size: 18px;
  }
}

.duration {
  font-size: 11px;
  color: $color-duration;
  margin-top: 8px;
  margin-bottom: 10px;

  &:after {
    content: "";
    display: block;
    height: 1px;
    background-color: $color-white;
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;
  }
}
