.journeyForm {
  position: fixed;
  width: 360px;
  height: 160px;
  top: 20px;
  left: 20px;
  z-index: 999;

  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
}

.directions {
  position: fixed;
  width: 360px;
  max-height: calc(100% - 220px);
  top: 200px;
  left: 20px;
  z-index: 99;

  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
}

@media (max-width: 767.999px) {
  .journey {
    height: 100%;
  }

  .journeyForm {
    position: static;
    width: 100%;
    height: 160px;
    box-shadow: none;
  }

  .directions {
    position: static;
    width: 100%;
    height: calc(100% - 160px) !important;
    box-shadow: none;
    max-height: none;
  }
}
