@import "../../styles/vars";
.search {
  background-color: $bg-grey;

  &-col {
    margin: 25px 0;
    padding: 0px 25px;
    border-right: solid 1px $color-white;
  }

  &-col-1 {
    width: 200px;
    padding-left: 0;
  }
  &-col-2 {
    width: auto;
  }

  &-col-3 {
    width: auto;
  }

  &-col-4 {
    width: 325px;
    border-right: none;
  }

  &-col-5 {
    background: #dedede;
    width: auto;
    margin: 0;
    padding: 25px;
    height: 195px;
    border-right: none;
  }
}
.form {
  &-label {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    color: $color-label;
    margin-bottom: 3px;
  }

  &-control {
    display: block;
    width: 100%;
    height: 32px;
    background-color: $color-white;
    border: none;
  }

  &-group {
    margin-bottom: 10px;
    position: relative;
    input[type='text'] {
      padding: 0 40px 0 10px;
    }
  }
  &-label-input {
    input {
      height: 40px !important;
      padding: 5px 10px !important;
      background-color: #fff !important;
      color: #424242 !important;
      font-weight: bold !important;
      font-size: 12px !important;
    }
  }

  &-calendar {
    position: relative;
    &:after {
      position: absolute;
      content: url('./calendar.png');
      right: 10px;
      top: 8px;
    }
  }

  &-number {
    width: 28px !important;
    input {
      text-align: center;
    }
  }

  &-label-select {
    color: #424242 !important;
    font-weight: bold !important;
    font-size: 12px !important;
  }

  &-label-checkbox {
    color: #364a68;
  }

  &-elements {
    display: inline-block;
    margin: 5px 40px 5px 0;
    vertical-align: text-top;
  }
}
.number-left, .number-right {
  position: absolute;
  top: 22px;
  font-size: 24px;
  color: #598ed4;
  cursor: pointer;
}
.number-left {
  left: -5px;
}
.number-right {
  right: -5px;
}