@import "../../variables.scss";

.footer {
  color: $color-white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &-bg {
    background-color: $color-primary;
    box-shadow: 0 0 4px darken($color-primary, 10%);
    padding: 0 25px;
  }

  &--copyright {
    padding-top: 26px;
    font-size: 14px;
    color: rgba($color-white, 0.6);
  }

  &--total {
    padding: 10px 0 ;
  }

  &--price {
    font-size: 20px;
    font-weight: bold;
  }

  &--pax {
    font-size: 14px;
    color: rgba($color-white, 0.6);
  }

  &-pop {
    position: absolute;
    right: 25px;
    bottom: 70px;
    background-color: $color-white;
    border: solid 3px $color-secondary;
    width: 280px;

    &--header {
      font-size: 18px;
      font-weight: bold;
      padding: 15px 15px 10px 15px;
      color: $color-primary;
    }

    &--message {
      font-size: 14px;
      line-height: 20px;
      color: $color-black;
      padding: 0 15px 15px 15px; 
    }

    &--close {
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;
      top: -12px;
      right: -12px;
      border-radius: 50%;
      background: $color-primary url($cross-white) no-repeat center center;
      background-size: 10px 10px;
      color: $color-white;
      font-size: 14px;
      line-height: 14px;
      width: 22px;
      height: 22px;
      border: solid 2px $color-white;
      font-weight: bold;
      padding: 0;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: 9px solid $color-secondary;
      border-color: $color-secondary transparent transparent transparent;
      bottom: -20px;
      right: 30px;
    }

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: 6px solid $color-white;
      border-color: $color-white transparent transparent transparent;
      bottom: -12px;
      right: 33px;
      z-index: 1;
    }
  }
}