@import '~static/styles/color-palette.scss';

.dateInputContainer {
  width: 150px;
  height: 100%;
  margin: 0 10px 0 0;
  display: inline-block;
}

.dateInput {
  width: 100%;
  height: 26px;
  padding: 10px 0px 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid $blue-light;
  border-radius: 0px;
  background-color: transparent;
  background-image: url(static/images/custom-icons/date.png);
  background-position: left center;
  background-repeat: no-repeat;
  color: $white;
  appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-calendar-picker-indicator { background: transparent; }
}

.datePickerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, .85)
}

.datePicker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
