$font:              Arial, "Helvetica Neue", Helvetica, sans-serif;
$bg-body:           #f6f6f6;
$bg-grey:           #ebebeb;

$color-white:       #fff;
$color-black:       #000;
$color-primary:     #1561d4;
$color-secondary:   #fa9116;
$color-duration:    #6d6d6d;
$color-label:       #6e6e6e;

$chevron-down:      '/img/chevron-down.svg'; // select dropdowns
$up:                '/img/up.svg'; // search results up

// Media queries
$min-phone: 480px;
$min-smalltablet: 600px;
$min-tablet: 768px;
$min-laptop: 992px;
$min-desktop: 1200px;
$min-hd: 1480px;

$screen-phone: unquote("min-width: #{$min-phone}");
$screen-smalltablet: unquote("min-width: #{$min-smalltablet}");
$screen-tablet: unquote("min-width: #{$min-tablet}");
$screen-laptop: unquote("min-width: #{$min-laptop}");
$screen-desktop: unquote("min-width: #{$min-desktop}");
$screen-desktop-lg: unquote("min-width: #{$min-hd}");