@import "../../variables.scss";

.modal {
  &--bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-black, 0.9);
    transition: opacity 0.3s linear;
    opacity: 0;
    z-index: 25;
    display: block;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    &:focus {
        border: solid 5px red;
    }

    &.is-active {
        opacity: 1;
        transition: opacity 0.3s linear;
        pointer-events: auto;
    }
  }

  &--content {
    background-color: $color-white;

    &:focus {
        outline: none;
    }

    @media ($screen-smalltablet) {
        max-width: 600px;
        margin: 120px auto 30px auto;
        position: static;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    @media ($screen-tablet) {
        max-width: 666px;
    }

    @media ($screen-laptop) {
        max-width: 788px;
    }

    @media ($screen-smalltablet) and ( max-height: 860px ) {
        margin-top: 60px;
    }

    @media ($screen-smalltablet) and ( max-height: 700px ) {
        margin-top: 30px;
    }
  }

  &--title {
    background-color: $color-primary;
    color: $color-white;
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    margin: 0;
    padding: 18px;
    text-align: center;
  }

  &--header {
    position: relative;
  }

  &--body {
    position: fixed;
    top: 49px;
    bottom: 62px;
    overflow-y: auto;
    width: 100%;
    padding: 25px;
    background-color: $color-white;
    color: $color-primary;

    @media ($screen-smalltablet) {
      position: static;
      max-height: 600px;
    }

    @media ($screen-smalltablet) and ( max-height: 860px ) {
      overflow: hidden;
      overflow-y: auto;
      max-height: 500px;
    }

    @media ($screen-smalltablet) and ( max-height: 700px ) {
      max-height: 460px;
    }

    @media ($screen-smalltablet) and ( max-height: 640px ) {
      max-height: 300px;
    }
  }

  &--footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $color-primary;
    text-align: center;

    @media ($screen-smalltablet) {
      position: relative;
    }

    &-btn {
      text-transform: uppercase;
      border: none;
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
      transition: all 0.3s linear;
      padding: 12px 40px 10px 40px;

      &:hover, &:active, &:focus {
        transform: scale(1.02, 1.02);
      }

      &__close {
        background-color: transparent;
        color: $color-white;
        float: left;
        padding-left: 15px;

        &:hover, &:active, &:focus {
          opacity: 0.7;
        }
      }

      &__action {
        background-color: $color-secondary;
        border-bottom: solid 4px darken($color-secondary, 10%);
        color: $color-white;
        float: right;

        &:hover, &:active, &:focus {
          background-color: lighten($color-secondary, 5%);
          border-bottom: solid 4px darken($color-secondary, 5%);
        }
      }
    }
  }

  &--btn__close {
    position: absolute;
    right: 15px;
    top: 7px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $color-white url($cross) no-repeat center center;
    background-size: 15px 15px;
    border: solid 3px $color-primary;
    transition: all 0.3s linear;

    &:hover, &:active, &:focus {
      transform: scale(1.07, 1.07);
    }

    @media ($screen-tablet) {
      right: -17px;
      top: -17px;
    }
  }
}
