@import "../../../variables.scss";

.calling {
  &-list {
    position: relative;
    padding-bottom: 5px;

    &:before {
      @media ($screen-phone) {
        content: "";
        width: 2px;
        background-color: rgba($color-primary, 0.1);
        position: absolute;
        left: 44px;
        top: 0;
        height: 100%;
      }

      @media ($screen-smalltablet) {
        left: 48px;
      }

      @media ($screen-tablet) {
        display: none;
      }

      @media ($screen-laptop) {
        display: block;
        left: 44px;
        top: 0;
        height: 100%;
      }

      @media ($screen-desktop) {
        left: 49px;
      }

      @media ($screen-desktop-lg) {
        left: 55px;
      }
    }

    &--item {
      padding: 5px 0;
    }

    &--time {
      font-size: 12px;
      line-height: 12px;
      padding-left: 4px;
      opacity: 0.8;
      position: relative;
      z-index: 1;

      &:before {
        @media ($screen-phone) {
          content: "";
          width: 8px;
          height: 8px;
          display: block;
          border-radius: 50%;
          background-color: lighten($color-primary, 45%);
          position: absolute;
          left: 41px;
          top: 3px;
          z-index: 0;
        }

        @media ($screen-smalltablet) {
          left: 45px;
        }

        @media ($screen-tablet) {
          display: none;
        }

        @media ($screen-laptop) {
          display: block;
          left: 41px;
        }

        @media ($screen-desktop) {
          left: 46px;
        }

        @media ($screen-desktop-lg) {
          left: 52px;
        }
      }
    }

    &--station {
      font-size: 12px;
      line-height: 12px;
      opacity: 0.8;
      color: darken($color-primary, 10%);
      margin-top: 3px;
    }
  }
}