@import "../../../variables.scss";

.leg {
  &-container {
    padding: 15px;
    background-color: darken($color-white, 5%);
  }

  &-mode {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    &__tube {

    }
  }
}