@import "../../../variables.scss";

.leg {
  &-list {
    margin-top: 10px;
    padding-top: 10px;
  }

  &-mode {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    &__tube {

    }
  }
}